/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
  padding: 2rem;
  background-color: #f5f2f7;
  color: #29344b;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body > ul {
  list-style: none;
  margin: 0;
}

:is(.book) {
  min-height: 200px;
  font-family: "Indie Flower", cursive;
}

.topographic {
  background: url("images/background-pattern.png");
  background-size: 70px;
}

.notebook {
  --clr-horizontal: #b6d7e8;
  --clr-vertical: #6ab4da;
  background: #f5f2f7;
  margin: 0 auto;
  font-size: 16px;
  padding: 20px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.075);
  transform: rotate(-2deg);
  background-image: linear-gradient(
      91deg,
      var(--clr-vertical),
      2px,
      rgba(255, 255, 255, 0),
      2px,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      0,
      var(--clr-horizontal),
      1px,
      rgba(255, 255, 255, 0),
      2px,
      rgba(255, 255, 255, 0)
    );
  background-position: 4rem 0, 0 5px;
  background-size: 100% 3rem;
  padding-left: 6rem;
  z-index: 4;
  position: relative;
  max-width: 900px;
}

.side-by-side__block--3 {
  -ms-grid-column: span 2;
  grid-column: span 2;
  transform: rotate(1deg);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
  max-width: 900px;
  -ms-flex-align: center;
  align-items: center;
}

.paper {
  background: #fafafa;
  margin: 0 auto;
  min-width: 200px;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.075);
  transform: rotate(-1deg);
  z-index: 4;
  position: relative;
  max-width: 900px;
}

.paper-postit {
  margin: 1rem 1rem;
  background: #ffa;
  padding: 1rem;
  transform: rotate(1.5deg);
  padding-left: 1rem;
  z-index: 4;
  width: 175px;
  height: 175px;
}
.paper-postit--accent {
  background: rgb(100, 36, 84);
  color:#f5f2f7;
  transform: rotate(-1.5deg);
  z-index: 4;
}

.paper-squares {
  --clr-lines: #6ab4da;
  padding-left: 4rem;
  background-image: linear-gradient(
      to right,
      var(--clr-lines),
      var(--clr-lines),
      1px,
      rgba(255, 255, 255, 0),
      10%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      0,
      var(--clr-lines),
      2px,
      rgba(255, 255, 255, 0),
      2px,
      rgba(255, 255, 255, 0)
    );
  background-size: 1rem 1rem;
}
.paper-lines {
  --clr-lines: #6ab4da;
  padding-left: 6rem;
  background-image: linear-gradient(
      91deg,
      var(--clr-lines),
      2px,
      rgba(255, 255, 255, 0),
      2px,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      0,
      var(--clr-lines),
      1px,
      rgba(255, 255, 255, 0),
      2px,
      rgba(255, 255, 255, 0)
    );
  background-position: 4rem 0, 5rem 20px;
  background-size: 100% 3rem;
}
